<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon_computer_now_32x32.png">
    <link rel="stylesheet" href="./css/estiloLogout.css">
    <title>Logout</title>
</head>
<body>
    

    <div class="gridContainer">
        <!--1.Elementos de cabecera a la altura del Logo-->
         <div class="Logo">
             <a href="../index.html">
                 <img src="./img/logo_electro_te.png" alt="Logo"> 
             </a>
         </div>
         <!--2.Menú de módulos--> 
         <div class="Header_nav"> 
             <ul class="mainNav">
                 <li><a href="./chatBasic.html">Chat</a></li>
                 <li><a href="/api/chatAvanzado">Productos</a></li>
                
             </ul>
         </div>
         <!--3.Sección1.Título y subtítulo general-->
         <div class="Section1">	
             
             
             <div>
                 
             </div>
   
         </div>
         <!--4.Sección2: Objetivos-->
         <div class="Section2">	
            
            
            
         </div>
         <!--5.Sección3: DataFlow FrontEnd-->
         <div class="Section3">	
            <div class="formulario">
                <br>
                <h2 class="login">Bye <span class="username"><%=username%></span> </h2>
                
                <button class="btnToHome" onclick='window.location.href = "/"' type="button">Index</button>
                <br><br>
                <button class="btnEnviar" onclick='window.location.href = "/login"' type="button">Log in</button>
                <br><br>
            </div>
         </div>
         <!--6.Sección4: DataFlow BackEnd-->
         <div class="Section4">	
             <h2 ></h2>
             <div>
                 
 
             </div>
   
         </div>
         <!--7.Sección5-->
         
         <!--8.Footer-->
         <div class="Footer">
             <div class="flexFoot">
                 <div class="footTitulo">Nuestra empresa
                      <div class="footContenido">Sobre nosotros</div>
                      <div class="footContenido">Politica de servicio al cliente</div>
                 </div>                 
                 <div class="footTitulo">Horario de atención   
                      <div class="footContenido">De 7am hasta 11pm</div>
                      <div class="footContenido"></div>   
                 </div>
                 <div class="footTitulo">Contacto   
                      <div class="footContenido">51987654321</div>
                      <div class="footContenido"></div>
                      <div class="footContenido"></div> 
                      <div class="footContenido"></div>     
                 </div> 
                 <div class="footTitulo">Servicios complementarios   
                      <div class="footContenido">Asesoramiento</div>
                      <div class="footContenido">Soporte técnico remoto</div>
                      <div class="footContenido"></div> 
                      <div class="footContenido"></div>     
                 </div> 
             </div>
         </div>
 
     </div>
</body>
</html>