/* #region. 1.Parámetros y recursos generales*/

/* #region. Plantilla*/

/* #endregion */ 

body {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
	padding: 0;
}
/* #endregion */ 

/* #region. 2.Formato general de secciones*/
.Section1 {
    background-color: rgb(2, 2, 58);
    padding:0;
    border:0;
    margin:0
}

.Section1 h2.tituloGeneral {
    background-color: rgb(2, 2, 58);
    margin:0;
    padding:10px;
    text-align: center;
    color: rgb(221, 215, 215);
}

.Section1 h4.subTituloGeneral {
    background-color: rgb(2, 2, 58);
    margin:0;
    padding:10px;
    text-align: center;
    color: rgb(221, 215, 215);
}

.Section1 h2 {
    color: lightgreen;
    text-align: center;
}

.Section1 span.username {
    color: lightgreen;
    text-align: center;
    
}

.mensaje {
  color: white;
  align-items: center;
  text-align: center;
  padding:0px;
}

.Section1 h2.login {
    color: white;
    text-align: center;
}

.Section1 .iconCarrito {
    align-items: center;
}

.Section2 {
    background-color: rgb(2, 2, 58);
    padding:0;
    border:0;
    margin:0
}

.Section2 h2 {
    color: lightgreen;
    text-align: center;
}

.Section2 h2.login {
    color: white;
    text-align: center;
}

.Section3 {
    background-color: rgb(2, 2, 58);
    padding:0;
    border:0;
    margin:0
}

.Section3 h2 {
    color: lightgreen;
    text-align: center;
}

.Section3 h2.login {
    color: white;
    text-align: center;
}

.Section4 {
    background-color: rgb(2, 2, 58);
    padding:0;
    border:0;
    margin:0
}

.Section4 h2 {
    color: lightgreen;
    text-align: center;
}

.Section5 {
    background-color: rgb(2, 2, 58);
    padding:0;
    border:0;
    margin:0
}

.Section5 h2 {
    color: lightgreen;
    text-align: center;
}
/* #endregion */ 

/* #region. 3.Formato general de texto, legendas y listas*/
ul.contenidoLista{
    list-style: none; 
    margin-left:1em;
    padding:0;
}

li.subContenidoLista{
    margin-left:0;
}

p.parrafo{
    margin:0;
}

span.numParrafo{
    color:lightgreen;
    font-weight: bold;
}

.botonLegend{
    padding-bottom: 1em;
}

.legendas{
    color:white;
    margin:10px;
    padding:0px;
    padding-inline-start: 15px;
}

/* #endregion */ 

/* #region. 4.Definición de Grid*/
.gridContainer {  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  repeat(7, auto);
    gap: 0px 0px;
    /*grid-auto-flow: row;*/
    grid-template-areas:
      "Logo Logo Logo Logo"
      "Header_nav Header_nav Header_nav Header_nav"
      "Section1 Section1 Section1 Section1"
      "Section2 Section2 Section2 Section2"
      "Section3 Section3 Section3 Section3"
      "Section4 Section4 Section5 Section5"
      "Footer Footer Footer Footer";
  }
  
  .Logo { grid-area: Logo; }
  .Header_nav { grid-area: Header_nav; }
  .Section1 { grid-area: Section1; }
  .Section2 { grid-area: Section2; }
  .Section3 { grid-area: Section3; }
  .Section4 { grid-area: Section4; }
  .Section5 { grid-area: Section5; }
  .Footer { grid-area: Footer; }
/* #endregion */

/* #region. 5.Cabecera, menú */

/*Logo*/
.cabeceraLogoNav{
    position:absolute;
    right:15px;
    top:15px;
    color: green;
    text-decoration: none
}
/*
.Logo {
    vertical-align: center;
    padding:10px;
}
*/
.flexContainerLogo {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    padding:10px;
    justify-content: flex-end;
    gap:30%;
    
}

.flexItemLogoMain{
    align-self: center;
}

.flexItemBtnLogout{
    align-self: center;
}

.flexContainerIconCarrito {
    display: flex;
    flex-direction: row;
    vertical-align:middle;
    padding:8px;
    color: white;
    justify-content: center;
}

.flexItemSelectCarrito{
    vertical-align:bottom;
    padding: 12px;
}

.flexItemMensajeCarrito{
  align-items: center;
  align-self: center;
  color:white;
  padding: 0px;
}

.flexContainerIconCarrito>a>span {
    color: white;
  }

.flexContainerIconCarrito>div>a>.qty {
    position: absolute;
    right: 15px;
    top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    color: #FFF;
    background-color: #D10024;
  }
/*
.Logo a{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100%;
    align-items:center;
    justify-content:center;
}
*/
/* Menú con submenú */
.Header_nav {
    background-color: rgb(4, 4, 74);
}

.Header_nav ul.mainNav {
    background-color: rgb(4, 4, 74);
    text-decoration: none;
    padding-left: 0px;
    text-align: center;
    margin:0;
}

.Header_nav ul.mainNav li {
    display: inline-block;
    padding: 10px 20px;
}

.Header_nav ul.mainNav li a {
    color: lightgreen;
    text-decoration: none;
}

.Header_nav ul.mainNav li:hover {
    background-color: rgb(2, 2, 44);
}

/* #endregion */ 

/* #region. 5.1.Icono Carrito de compras*/
  
.header-ctn {
    float: right;
    padding: 15px 0px;
  }
  
  .header-ctn>div {
    display: inline-block;
  }
  
  .header-ctn>div+div {
    margin-left: 15px;
  }
  
  .header-ctn>div>a {
    display: block;
    position: relative;
    width: 90px;
    text-align: center;
    color: #FFF;
  }
  
  .header-ctn>div>a>i {
    display: block;
    font-size: 18px;
  }
  
  .header-ctn>div>a>span {
    font-size: 12px;
  }
  
  .header-ctn>div>a>.qty {
    position: absolute;
    right: 15px;
    top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    color: #FFF;
    background-color: #D10024;
  }
  
  .header-ctn .menu-toggle {
    display: none;
  }
  
  .cart-dropdown {
    position: absolute;
    width: 300px;
    background: #FFF;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 0px 2px #E4E7ED;
    box-shadow: 0px 0px 0px 2px #E4E7ED;
    z-index: 99;
    right: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .dropdown.open>.cart-dropdown {
    opacity: 1;
    visibility: visible;
  }
  
  .cart-dropdown .cart-list {
    max-height: 180px;
    overflow-y: scroll;
    margin-bottom: 15px;
  }
  
  .cart-dropdown .cart-list .product-widget {
    padding: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .cart-dropdown .cart-list .product-widget:last-child {
    margin-bottom: 0px;
  }
  
  .cart-dropdown .cart-list .product-widget .product-img {
    left: 0px;
    top: 0px;
  }
  
  .cart-dropdown .cart-list .product-widget .product-body .product-price {
    color: #2B2D42;
  }
  
  .cart-dropdown .cart-btns {
    margin: 0px -17px -17px;
  }
  
  .cart-dropdown .cart-btns>a {
    display: inline-block;
    width: calc(50% - 0px);
    padding: 12px;
    background-color: #D10024;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .cart-dropdown .cart-btns>a:first-child {
    margin-right: -4px;
    background-color: #1e1f29;
  }
  
  .cart-dropdown .cart-btns>a:hover {
    opacity: 0.9;
  }
  
  .cart-dropdown .cart-summary {
    border-top: 1px solid #E4E7ED;
    padding-top: 15px;
    padding-bottom: 15px;
  }
/* #endregion */ 

/* #region. 6.Formularios*/
.formulario{
    color:white;
    /*margin-left: 35%;*/
    text-align: center;
    margin:2em;
    border-radius: 5px;
    background-color: #3c238e;
}

.formularioChat{
    color:white;
    /*margin-left: 35%;*/
    /*text-align: left;*/
    margin:0.5em;
}

.Section5 iframe {
    display: block;
    text-align: center;
    margin:auto;
}

.mensajesFormulario{
    color:white;
    /*margin-left: 35%;*/
    margin:4em;
    text-align: center;
}

.containervirtualForm{
    display:flex;
    flex-flow: row wrap;
    column-gap: 1em;
    /*justify-content: space-between;*/
}

.containerBotones{
    display:flex;
    flex-flow: row wrap;
    column-gap: 2em;
    /*justify-content: space-between;*/
}
/* #endregion */ 

/* #region. 7.Flexbox de imágenes*/

.team-container
{
    width:100%;
    height: auto;
 
}
.text
{
    color:green;
    font-size: 25px;
    margin-top: 40px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
 
}
.row
{
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
    justify-content: space-evenly;
}

.profile-card
{
    background-color: #ffffff;
    width: 270px;
    height: 300px;
    margin: 20px 10px 10px 10px;
}

.profile-image img{
    width: 130px;
    height: 130px;
    /*border-radius: 50px;*/
}
.profile-image
{
    text-align: center;
}

.profile-content
{
    padding:15px;
}

.desc
{
    text-align: center;
}
.desc h2
{
    color: green;
    font-size: 20px;
}
.desc p{
    font-size: 13px;
    line-height: 1.3em;
    margin-top: -10px;
    color: #000000;
     
}
.btn-div
{
    text-align: center;
}
/*
.btn
{
    display:flex;
    background-color: rgb(2, 2, 58);
    align-items: center;
    justify-content: center;
    border-left: 20px;
    color: #ffffff;
    width: 150px;
    cursor: pointer;
    height: 38px;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 3px 3px 3px 3px #e6e6e6;
    border-radius: 3px;
    outline:none;
    border:none;
    text-transform: uppercase;
}*/

.btn{
    background-color: rgb(2, 2, 58);
    border:none;
    color: #ffffff;
}

/* #endregion */ 

/* #region. 8.Parallax*/
.parallax {
    background-image: url("../img/perifericos_comunicaciones_electricos.jpg");
    height: 80vh;
    width: 100%;
    
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 3vw;
    padding-top: 5vw;
    margin: 0; }
    .parallax h4 {
      font-size: 3rem;
      /*text-align: left;*/
      color: white; }
    .parallax p {
      font-size: 2rem;
      /*text-align: left;*/
      color: white; }
/* #endregion */ 


/* #region. Productos con Carrito de compras*/

  
.header-ctn {
    float: right;
    padding: 15px 0px;
  }
  
  .header-ctn>div {
    display: inline-block;
  }
  
  .header-ctn>div+div {
    margin-left: 15px;
  }
  
  .header-ctn>div>a {
    display: block;
    position: relative;
    width: 90px;
    text-align: center;
    color: #FFF;
  }
  
  .header-ctn>div>a>i {
    display: block;
    font-size: 18px;
  }
  
  .header-ctn>div>a>span {
    font-size: 12px;
  }
  
  .header-ctn>div>a>.qty {
    position: absolute;
    right: 15px;
    top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    color: #FFF;
    background-color: #D10024;
  }
  
  .header-ctn .menu-toggle {
    display: none;
  }
  
  .cart-dropdown {
    position: absolute;
    width: 300px;
    background: #FFF;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 0px 2px #E4E7ED;
    box-shadow: 0px 0px 0px 2px #E4E7ED;
    z-index: 99;
    right: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .dropdown.open>.cart-dropdown {
    opacity: 1;
    visibility: visible;
  }
  
  .cart-dropdown .cart-list {
    max-height: 180px;
    overflow-y: scroll;
    margin-bottom: 15px;
  }
  
  .cart-dropdown .cart-list .product-widget {
    padding: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .cart-dropdown .cart-list .product-widget:last-child {
    margin-bottom: 0px;
  }
  
  .cart-dropdown .cart-list .product-widget .product-img {
    left: 0px;
    top: 0px;
  }
  
  .cart-dropdown .cart-list .product-widget .product-body .product-price {
    color: #2B2D42;
  }
  
  .cart-dropdown .cart-btns {
    margin: 0px -17px -17px;
  }
  
  .cart-dropdown .cart-btns>a {
    display: inline-block;
    width: calc(50% - 0px);
    padding: 12px;
    background-color: #D10024;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .cart-dropdown .cart-btns>a:first-child {
    margin-right: -4px;
    background-color: #1e1f29;
  }
  
  .cart-dropdown .cart-btns>a:hover {
    opacity: 0.9;
  }
  
  .cart-dropdown .cart-summary {
    border-top: 1px solid #E4E7ED;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* Imagenes */ 
  .card-img-top_3img {
    width: 100%;
    object-fit: contain;
    height: 20vw;
     }
/* #endregion */ 

/* #region. 7.Botones*/
.btnHome {
    /*background-color: rgb(7, 150, 105);*/
    background-color:darkgreen;
    color: white;
    align-items: center;
    text-align: center;
    text-decoration: none;
    /*padding: 15px 32px;*/
    padding: 15px 25px;
    font-size: 16px;
    border: 0em;
    cursor: pointer;
    border-radius: 0.4em;
}

.btnEnviar {
    /*background-color: rgb(7, 150, 105);*/
    background-color:green;
    color: white;
    text-align: center;
    text-decoration: none;
    /*padding: 15px 32px;*/
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btnLimpiarBD {
    /*background-color: rgb(7, 150, 105);*/
    background-color:rgb(178, 68, 13);
    color: white;
    text-align: center;
    text-decoration: none;
    /*padding: 15px 32px;*/
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btnLogout {
    /*background-color: rgb(7, 150, 105);*/
    background-color:rgb(169, 24, 24);
    color: white;
    text-align: center;
    text-decoration: none;
    /*padding: 15px 32px;*/
    padding: 12px 50px;
    font-size: 16px;
    margin: 4px 2px;
    border: 0em;
    cursor: pointer;
    border-radius: 0.4em;
}

/* #endregion */ 

/* #region. 8.Footer*/
.footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

.flexFoot{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    background-color: black;
    color:white; 
    font-size:18px;
    padding: 2em;
}
.footTitulo{
    background-color: black;
    color:white; 
    font-weight: 900;
    color: lightgreen;
    font-size:18px;
}
.footContenido{
    color: white;
    font-size:16px;
    
}
/* #endregion */ 

/* #region. 9.Media queries*/

/* vista desktop */
@media only screen and (min-width: 1024px){
    body{
        /*background-color: rgb(235, 235, 243);*/
        background-color: #15161D;
    }
   
}

/* vista tablet */
@media only screen and (min-width: 768px) and (max-width:1023px){
    body{
	    /*background-color: rgb(202, 241, 202);*/
        background-color: #15161D;
    }   
}

/* vista mobile */
@media only screen and (max-width: 767px){
    body{
        /*background-color: rgb(243, 243, 203);*/
        background-color: #15161D;
    }
    
    .navFlex{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        }
    .flexFoot{
        display: flex;
        flex-direction: column;
        }
    .flexSection{
            display: flex;
            flex-direction: column;
    }
}
/* #endregion */